<% if obj.present? && obj.errors.any? %>
  <%= pluralize(obj.errors.count, "error") %> occurred
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>